* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $dark;
    background-color: $light;
    flex-direction: column;
}

.credits {
    font-size: 14px;
    color: $light;
}

span {
    font-size: 24px;
}
